# ignore dot files/directories
.*
!.gitignore
!.githooks

*.autosave
*.pyc
*.user
*~
Thumbs.db
*.sdf
*.opensdf
*.obj
*.stamp
*.depend
*.rule
*.tmp
debug
*/debug
*.suo
*.log
*.tlog
build
*/build
CMakeSettings.json
cmake-build-debug
CMakeCache.txt
CMakeFiles
